[Desktop Entry]
Version=1.0
Type=Application
Name=GEANT Topology
Comment=
Exec=/bin/bash -i -c 'topo geant'
Icon=/home/sdn/Downloads/topo.icon.png
Path=/home/sdn
Terminal=true
StartupNotify=false
